@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
.container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-wrapper {
  background-color: #fafafa;
  width: calc(100% - 60px);
  margin: auto;
  padding: 1rem;
  box-shadow: 0 3px 6px #888888;
  h2 {
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
    color: #7a7a7a;
  }

  h3 {
    text-align: center;
    font-size: 7rem;
    color: steelblue;
    font-weight: 400;
  }
}

.controls-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 3rem;
    display: block;
    border: none;
    background-color: transparent;
    color: #7a7a7a;
  }
}

.timeset-wrapper {
  margin: auto;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    h2 {
      font-weight: 400;
      font-size: 1.5rem;
      color: #7a7a7a;
      margin-bottom: 1rem;
    }

    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 2rem;
      color: #7a7a7a;
    }

    button {
      border: none;
      background-color: transparent;
      color: steelblue;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
