.topBar {
  height: 30px;
  width: 100vw;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  background-color: gray;

  a {
    color: black;
  }
  svg {
    font-size: 30px;
  }
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .rightSideTopBar {
    position: fixed;
    right: 0;
  }
}

.sideNav {
  height: 100%;
  width: 300px;
  top: 0;
  left: 0;
  background-color: lawngreen;
  position: absolute;
  z-index: 2;
}
.blur {
  height: 100%;
  width: calc(100% - 300px);
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
}