.topBar {
  height: 30px;
  width: 100vw;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  background-color: gray;

  a {
    color: black;
  }
  svg {
    font-size: 30px;
  }
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .rightSideTopBar {
    position: fixed;
    right: 0;
  }
}

.sideNav {
  height: 100vh;
  width: 80vw;
  top: 0;
  left: 0;
  background-color: lawngreen;
  position: absolute;
  z-index: 2;
}