/* SIDEBAR */
.sidebar {
  width: 72px;
  height: calc(100vh - 56px);
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  overflow: hidden;

  nav {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    outline: 0;
    text-align: center;
  }

  nav svg {
    vertical-align: middle;
    font-size: 35px;
  }

  nav span {
    font-size: 14px;
    color: #000000;
  }

  /* Change icon to text*/
  nav a span,
  nav a:hover svg {
    display: none;
  }
  nav a:hover span {
    display: block;
    background: rgb(247, 247, 247);
  }

  #logout {
    position: fixed;
    width: 72px;
    bottom: 0;
  }
}