.ad {
  background-color: rgb(197, 195, 195);
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  .title {
  }
  .description {
  }
  .price {
  }
  .username {
  }
}
