.timeMachine {
  .dateController {
    width: 200px;
    margin: auto;
    button {
      margin: auto;
    }
  }
  .placer {
    width: 250px;
    height: 250px;
    background-color: rgb(180, 180, 180);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    text-align: center;
  }
  img {
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
  }
  a {
    width: 100px;
    margin: auto;
    display: block;
  }
  .notes {
    display: relative;
    width: 650px;
    min-height: 200px;
    margin: auto;
    background-color: rgb(165, 165, 165);
    padding: 30px 20px;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: calc(100% - 20px);
      margin: 10px;
    }
    textarea {
      width: 100%;
      background-color: #b3b3b3;
      border: none;
    }
    svg {
      position: fixed;
      font-size: 20px;
      margin-top: -20px;
      right: 10px;
      cursor: pointer;
    }
  }
}
